<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Universal Tutorial</h1>
      <p class="lead text-muted">
        This is the demo page to demostrate the Angular App Shell and currently it's WITH App Shell
      </p>
      <p>
        <a href="https://www.universal-tutorial.com/angular-tutorials/angular-web-application-performance-improvements-using-app-shell"
          class="btn btn-primary my-2 m-2">Go back to Original Article</a>
        <a href="https://universal-tutorial-woapp-shell.herokuapp.com/home" class="btn btn-secondary my-2 m-2">Go to App without Angular App Shell</a>
      </p>
    </div>
  </section>
</main>
